<html>
	<body>
        {% include 'navigation.html' %}
		<h1>The Home</h1>
		<p id="counter">?</p>
	</body>
	<script>
		window.addEventListener('DOMContentLoaded', () => {
			let counter = document.getElementById('counter');

			const websocket = new WebSocket('ws://localhost:8001')

			function handleParseMessage(message) {
				let response = JSON.parse(message.data)
				counter.innerHTML = `current counter: ${response.counter}`
			}

			websocket.onopen = handleParseMessage
			websocket.onmessage = handleParseMessage
		})
	</script>
</html>
